/vendor
/node_modules
/public/storage
/storage/*.key
/public/uploads
_ide_helper.php
_ide_helper_models.php
Homestead.yaml
Homestead.json
.env
/Envoy.blade.php
.idea
.DS_Store
npm-debug.log
yarn-error.log
