@mixin btn($class,$bg,$color) {
  .btn-#{$class} {
    border: none;
    background-color: $bg;
    &:focus {
      background-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    &:active {
      @include box-shadow(2px 2px 4px rgba(0, 0, 0, .4));
    }

    @include ripple($color);
  }
}

@include btn(default, $mk-gray-light, #fff)
@include btn(primary, $mk-blue, #fff);
@include btn(success, $mk-green, #fff);
@include btn(info, $mk-purple, #fff);
@include btn(warning, $mk-orange, #fff);
@include btn(danger, $mk-red, #fff);
@include btn(link, $mk-white, #333);

