
@mixin btn($class,$bg,$color){
  .btn-#{$class} {
    &:focus {
      background-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    &:active {
      @include box-shadow(2px 2px 4px rgba(0,0,0,.4));
    }

    @include ripple($color);
  }
}

@include btn(default,$btn-default-bg,$btn-default-color);
@include btn(primary,$btn-primary-bg,$btn-primary-color);
@include btn(success,$btn-success-bg,$btn-success-color);
@include btn(info,$btn-info-bg,$btn-info-color);
@include btn(warning,$btn-warning-bg,$btn-warning-color);
@include btn(danger,$btn-danger-bg,$btn-danger-color);
@include btn(link,#fff,$btn-default-color);

.btn {
  text-transform: uppercase;
  border: none;
  @include box-shadow(1px 1px 4px rgba(0,0,0,.4));
  @include transition(all 0.4s);

  &-link {
    border-radius: $btn-border-radius-base;
    @include box-shadow(none);
    color: $btn-default-color;

    &:hover,
    &:focus {
      @include box-shadow(none);
      color: $btn-default-color;
      text-decoration: none;
    }

    .disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:active:hover {
        background-color: #fff;
        color: $btn-default-color;
      }
    }
  }

  &-default {
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      opacity: 1;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: 0;
  }

  &-vertical {
    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
      margin-top: 0;
    }
  }
}