.list-group {

  &-item {
    padding: 15px;
  }

  &-item-text {
    color: $mk-gray-light;
  }
}

.well {
  border: 0;
  @include box-shadow(none);
}

.panel {

  &-heading {
    border-bottom: none;
  }

  &-footer {
    border-top: none;
  }
}

.popover {
  @include box-shadow(0 1px 4px rgba(0,0,0,.3));
}

.carousel {
  &-caption {
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
}

.container {
  width: auto;
  max-width: 1020px !important;
  padding-left: 20px;
  padding-right: 20px
}

.panel-primary > .panel-heading {
  background-color: $mk-white;
  border-color: $mk-white;
  color: $mk-dark;
  border-bottom: 2px solid $mk-blue;
}


