// Remove the Bootstrap feedback styles for input addons
.input-group-addon {
  .has-warning &, .has-error &, .has-success & {
    color: $input-color;
    border-color: $input-group-addon-border-color;
    background-color: $input-group-addon-bg;
  }
}

.form-group-lg {
  select,
  select.form-control {
    line-height: 1.5;
  }
}

.share {
  margin: 20px 0;
}

.avatar {
  border-radius: 50%;
}

.avatar-middle {
  width: 50px;
  height: 50px;
}

.operation {
  font-size: $font-size-large;
  padding-right: 0.5em;
}

.text-danger {
  color: $mk-red;
}

.text-warning {
  color: $mk-orange;
}

.text-primary {
  color: $mk-blue;
}

.text-success {
  color: $mk-green;
}

.text-default {
  color: $mk-dark;
}

.text-light {
  color: $mk-white;
}

.text-muted {
  color: $mk-gray-light;
}

.operation-bar {
  background-color: $mk-dark;
  border-radius: 5px;
  padding-left: 0.5em;
  opacity: 0.5;
}
