#site-footer {
  position: relative;
  margin-top: 40px;
  padding: 40px 0;
  font-size: 0.8em;
  line-height: 1.5;
  border-top: 1px solid $mk-gray-lighter;
  .fa-arrow-circle-up {
    color: $mk-red;
  }
  .fa-github {
    position: absolute;
    top: 35px;
    left: 50%;
    height: 34px;
    width: 34px;
    margin-left: -17px;
    font-size: 34px;
    color: $mk-gray-light;

    &:hover {
      color: $mk-gray;
    }
  }
}