$mk-dark:         #212121 !default;
$mk-gray:         #888 !default;
$mk-gray-light:   #ccc !default;
$mk-gray-lighter: #eee !default;
$mk-blue:         #2196f3 !default;
$mk-red:          #f4645f !default;
$mk-white:        #ffffff !default;