$bootstrap-sass-asset-helper: false !default;

//Colors
$mk-dark: #212121 !default;
$mk-gray: #888 !default;
$mk-gray-light: #ccc !default;
$mk-gray-lighter: #eee !default;
$mk-blue: #2196F3 !default;
$mk-red: #f4645f !default;
$mk-white: #fefefe !default;
$mk-green: #4CAF50 !default;
$mk-orange: #ff9800 !default;
$mk-purple: #c784a8 !default;

$font-size-base: 13px !default;
$font-size-normal: ceil(($font-size-base * 1.15)) !default; // ~18px
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: 56px !default;
$font-size-h2: 45px !default;
$font-size-h3: 34px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.846 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family: inherit !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.1 !default;
$headings-color: #444 !default;

//== Components
$padding-base-vertical: 6px !default;
$padding-base-horizontal: 16px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$line-height-large: 1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5 !default;

$border-radius-base: 3px !default;
$border-radius-large: 3px !default;
$border-radius-small: 3px !default;

